.main-footer{
  height: 50px;
  background-color: #152D35;
}

.links{
  color: #D4ECDD;
  text-align: center;
}


.footer {
  text-align: center; // Center text within the row
  justify-content: center;
}