.main-footer{
  height: 50px;
  background-color: rgb(212, 236, 221);
}

.links{
  color: #345B63;
  text-align: center;
}


.footer {
  text-align: center; // Center text within the row
  justify-content: center;
}